{% extends 'singelo/base.html' %}

{% block title %} Singelo {% endblock %}

{% block content %}


<ul class="list-group" style="text-align: center; list-style: none; font-size: 18px;">
  <table class="table table-striped">
    <tbody>
      {% for post in posts %}
        {% ifnotequal post.post_status "draft" %}
        <tr>
          <td>{{ post.post_created|date:"M d, Y" }}</td>
          <td><a href="http://{{ request.get_host }}/{{app_name}}/{{post.post_created.year}}/{{post.post_created.month}}/{{post.post_slug}}">{{ post.post_title }}</a> <br></td>
        </tr>
        {% endifnotequal %}
      {% endfor %}
    </tbody>
  </table>

</ul>
{% endblock %}
